{% if page.image.feature %}

{% include head-dark.html %}

<section class="article">

  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
{% else %}

{% include head-dark.html %}
{% include ta.html %}

<section class="article pad-top">

{% endif %}

      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{ page.title }}</h1>
            <!-- <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p> -->

          </hgroup>
        </header>

      {% if page.share != false %}
        {% include bd_share.html %}
      {% endif %}

      <br/>
      {{ content }}
      <br/>
      
      {% if page.share != false %}
        {% include bd_share.html %}
      {% endif %}

      <!-- gitment comment -->
      {% if page.gitment != false %}
        <div id="container"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
          var gitment = new Gitment({
          id: '{{ site.gitment.owner }}',
          owner: '{{ site.gitment.owner }}',
          repo: '{{ site.gitment.repo }}',
          oauth: {
            client_id: '{{ site.gitment.client_id}}',
            client_secret: '{{ site.gitment.client_secret}}',
          },
          })
          gitment.render('container')
        </script>
      {% endif %}

      </article>
    </section>
</div>

{% include footer.html %}
