{% include head-dark.html %}
{% include ta.html %}

<section class="article">
      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{page.title}}</h1>
            <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>
        
        {% include bd_share.html %}
        <br/>
        <div class="content">
            {{ content }}
        </div>
        <br/>
        {% include bd_share.html %}
      </article>

    </section>
</div>

{% include footer.html %}
